---
import Layout from '../layouts/Layout.astro';
import Container from "../components/Container.astro"
import { LoginCallbackHandler } from "../components/LoginCallbackHandler"

const code = Astro.url.searchParams.get('code');
const state = Astro.url.searchParams.get('state');

if (!code) {
  return Astro.redirect("/");
}

const authenticateRequest = await fetch(`${Astro.url.protocol}//${Astro.url.host}/authenticate`, {
  headers: {
    "Accept": "application/json"
  },
  method: 'POST',
  body: JSON.stringify({
    code,
  })
});

if (authenticateRequest.status !== 200) {
  return Astro.redirect("/");
}

const authenticate = await authenticateRequest.json();
---
<Layout title="Authentication">
  <main class="space-y-40 mb-40">
    <Container>
      <div class="relative pt-36 ml-auto">
          <div class="lg:w-2/3 text-center mx-auto">
              <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">
                Authenticating you...
              </h1>
          </div>
      </div>
    </Container>
  </main>
</Layout>

<LoginCallbackHandler client:load auth={authenticate} state={state}></LoginCallbackHandler>